.grid{
    margin: auto;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    border: 2px solid black;
    
}

.cell img{
    height: 90px;
    width: 90px;
}

.highlighted {
    position: relative;
    cursor: pointer;
}
  
.highlighted::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    background-color: green;
    border-radius: 50%;
}
  
.undo-btn{
    width: 100px;
    height: 50px;
    font-size: large;
    background-color: #855E42;
    color: white;
    cursor: pointer;
    transition: background-color 2s ease;
    border: 2px solid black;
}

.undo-btn:hover{
    background-color: #D3D3D3;
    color: black;
    height: 55px;
    width: 110px;
}